<ion-header>
  <ion-toolbar>
    <ion-title>componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h1>ion-avatar</h1>

  <ion-avatar>
    <img src="https://ionicframework.com/docs/img/demos/avatar.svg">
    <ion-button color="light">Pivaque Ronald</ion-button>
 
  </ion-avatar>

  <br><br>

  <h1>ion-button</h1>

  <ion-button color="primary">Regresar</ion-button>
  <ion-button color="success">Siguiente</ion-button>
  <ion-button color="danger">Cancelar</ion-button>
  <ion-button color="warning">Salir</ion-button>

</ion-content>
